<div>
    <h2 id="page-heading">
        <span>Profiles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-profile" [routerLink]="['/profile/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Profile
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="profiles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creationDate"><span>Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="image"><span>Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gender"><span>Gender</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phone"><span>Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bio"><span>Bio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="facebook"><span>Facebook</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="twitter"><span>Twitter</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="linkedin"><span>Linkedin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="instagram"><span>Instagram</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="optionalsn"><span>Optionalsn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="birthdate"><span>Birthdate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sibblings"><span>Sibblings</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pet"><span>Pet</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let profile of profiles ;trackBy: trackId">
                <td><a [routerLink]="['/profile', profile.id, 'view' ]">{{profile.id}}</a></td>
                <td>{{profile.creationDate | date:'medium'}}</td>
                <td>
                    <a *ngIf="profile.image" (click)="openFile(profile.imageContentType, profile.image)">
                        <img [src]="'data:' + profile.imageContentType + ';base64,' + profile.image" style="max-height: 30px;" alt="profile image"/>
                    </a>
                    <span *ngIf="profile.image">{{profile.imageContentType}}, {{byteSize(profile.image)}}</span>
                </td>
                <td>{{profile.gender}}</td>
                <td>{{profile.phone}}</td>
                <td>{{profile.bio}}</td>
                <td>{{profile.facebook}}</td>
                <td>{{profile.twitter}}</td>
                <td>{{profile.linkedin}}</td>
                <td>{{profile.instagram}}</td>
                <td>{{profile.optionalsn}}</td>
                <td>{{profile.birthdate | date:'medium'}}</td>
                <td>{{profile.sibblings}}</td>
                <td>{{profile.pet}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/profile', profile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/profile', profile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'profile', { outlets: { popup: profile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="profiles && profiles.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
